.dms-index-header {
    color: #ffffff;
}

.dms-index-header .mint-searchbar-inner .mintui-search {
    color: #ffffff;
}

.dms-index-header .mint-searchbar-core::placeholder {
	color: white;
}


.dms-index-header .mint-search {
    height: 100%;
}

.dms-index-header .mint-searchbar {
    padding: 0;
}

.dms-index-header .mint-searchbar {
    background: hsla(0,0%,100%,.3);
}

.dms-index-header .mint-searchbar-core,
.dms-index-header .mint-searchbar-inner {
    background-color: transparent;
}

.dms-index-header .mint-searchbar-core {
    color: #ffffff;
}

/* Utility */
.dms-display-flex {
    display: flex;
}

.dms-flex-1 {
    flex: 1;
}

.dms-display-block {
    display: block;
}

.dms-text-center {
    text-align: center;
}


.dms-padding-0 {
    padding: 0;
}

.dms-margin-0 {
    margin: 0;
}

.dms-padding-1 {
    padding: .05rem;
}

.dms-padding-top-1 {
    padding-top: .1rem;
}
.dms-padding-bottom-1 {
    padding-bottom: .1rem;
}

.dms-card {
    margin: .1rem 0;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid rgb(235,235,235);
}

.dms-card-header {
    padding: .1rem;
    font-size: 9px;
}

.dms-ckd {
    font-size: 20px;
    color: rgb(254, 177, 56);
}

.dms-ckd-unit {
    font-size: 12px;
}

.dms-ckd-title {
    font-size: 9px;
}

.dms-color-grey {
    color: rgb(165, 182, 204);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/*border: 1px solid green;*/
	/* -webkit-text-fill-color: #FFFFFF; */
	/*-webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;*/
	transition: background-color 5000s ease-in-out 0s;
}

.AfterSales_OrderStatus_WOStatus_001 {/*维修中*/
    background-color: #ffbb44;
  }
  .AfterSales_OrderStatus_WOStatus_002 {
    background-color: #ff4444;
  }
  .AfterSales_OrderStatus_WOStatus_003 {/*已完工*/
    background-color: #437dff;
  }
  .AfterSales_OrderStatus_WOStatus_004 {
    background-color: #437dff;
  }
  .AfterSales_OrderStatus_WOStatus_005 {/*挂账*/
    background-color: #ff4444;
  }
  .AfterSales_OrderStatus_WOStatus_006 {/*已结算*/
    background-color: #5cb0ff;
  }
  .AfterSales_OrderStatus_WOStatus_999 {/*已取消*/
    background-color: #a7a4a2;
  }
  
  .dms-badge {
    color: #fff;
    padding: 0px 4px;
    font-size: 0.11rem;
    height: 0.18rem;
    line-height: 0.18rem;
    border-radius: 3px;
  }




